<!-- please do not change it -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<!-- patient sign up -->
	<!-- <form action="/patientSignUp" method="POST">
        <input type="text" id="name" name="name" placeholder="Nmae of patient" required><br>
        <input type="number" id="age" name="age" placeholder="Age of patient" required min="0" max="120" step="1"><br>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="trans">Trans</option>
        </select><br>
        <input type="email" id="email" name="email" placeholder="Email" required><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br>
        <input type="text" id="diagnosis" name="diagnosis" placeholder="Remark about patient"><br>
        <button type="submit">Submit</button>
    </form> -->

	<!-- staff sign up -->
	<!-- <form action="/staffSignUp" method="POST">
        <input type="text" id="name" name="name" placeholder="Nmae of Staff Member" required><br>
        <input type="email" id="email" name="email" placeholder="Email" required><br>
        <input type="text" id="role" name="role" placeholder="Position/Title" required><br>
        <input type="text" id="hospitalRegistrationNumber" name="hospitalRegistrationNumber"
            placeholder="Registeered ID of Hospital" required><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br>
        <button type="submit">Submit</button>
    </form> -->

	<!-- hospital registration form -->
	<!-- <form action="/hospitalSignUp" method="POST">
		<input type="text" id="name" name="name" placeholder="Nmae of the hospital" required><br>
		<input type="tel" id="phone" name="phone" placeholder="Contact Number of Hospital" required><br>
		<input type="email" id="email" name="email" placeholder="Email of Hospital" required><br>
		<input type="text" id="facilities" name="facilities" placeholder="Facilities availabe in Hospital" required><br>
		<input type="text" id="address" name="address" placeholder="Address of the hospital" required><br>
		<input type="text" id="hospitalRegistrationNumber" name="hospitalRegistrationNumber"
			placeholder="Registered Liscence number of Hospital" required><br>
		<button type="submit">Submit</button>
	</form> -->



	<!-- patient transfer form -->
	<!-- <form action="/patientTransferForm" method="POST">
		<input type="text" id="name" name="name" placeholder="Nmae of Patient" required><br>
		<input type="email" id="emailOfPatient" name="emailOfPatient" placeholder="Email of Patient" required><br>
		<input type="text" id="fromName" name="fromName" placeholder="Name of Current Hospital" required><br>
		<input type="text" id="fromId" name="fromId" placeholder="Registration Number of Current Hospital" required><br>
		<input type="text" id="toName" name="toName" placeholder="Name of Transfering Hospital" required><br>
		<input type="text" id="toId" name="toId" placeholder="Registration Number of Transfering Hospital" required><br>
		<input type="date" id="date" name="date"><br>
		<textarea type="text" id="diagnosis" name="diagnosis" placeholder="Reports of patient" required></textarea><br>
		<button type="submit">Submit</button>
	</form> -->



</body>

</html>